.round-icon {
   color: #fff;
   padding: 10px;
   border-radius: 50px;
   height: 20px;
   width: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 15px;
   font-weight: bold;
   font-size: 12px;
}

.large-round-icon {
   color: #fff;
   padding: 10px;
   border-radius: 50px;
   height: 40px;
   width: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   font-size: 12px;
}

.bg-success {
   background-color: $success;
}

.bg-danger {
   background-color: $danger;
}
